* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.dav{
    background: radial-gradient(#485563 , #29323c);
}

.container {
    background: radial-gradient(orangered);
}

.logo{
    margin-left: 70px;
}

.navbar {

    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 190px;
    margin-top: 0;

}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;

}

nav ul li {
    color: white;
    display: inline-block;
    margin-right: 40px;
    font-size: 18px;
}



a:hover {
    color: orangered;
}


.container-001{
    background: radial-gradient(#485563 , #29323c);
    display: flex;
    padding-bottom: 100px;
}

.box-01{
    margin-left: 40px;

}

.box-02{
    padding-right: 50px;
    text-align: justify;
    font-size: 25px;
    padding-left: 200px;
    color: white;
    padding-top: 100px;
}





.main {
    display: flex;
    margin-left: 250px;
    justify-content: space-around;
    padding-bottom: 100px;
}


.col-10 h1 {
    color: #fff;
    margin-left: 350px;
    margin-top: 120px;
    margin-right: 50px;
    font-size: 60px;
}

.col-10 p{
    font-size: 18px;
    color: white;
    text-align: justify;
    line-height: 22px;
    margin-left: 340px;
    padding: 20px;
}
.dav-2{
    background: radial-gradient(#485563,#29323c);
}

.container-1{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

h2{
    padding-top: 70px;
    padding-bottom: 0;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
    color: white;


}

.box-1{
    margin-top: 100px;
    margin-right: 80px;
    margin-left: 10px;
    transition: transform 0.5s;
    text-align: center;
    color: white;
    
}

.box-1:hover{
    transform: translateY(-10px);
}

.box-2{
    margin-top: 100px;
    margin-right: 80px;
    transition: transform 0.5s;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    
}

.box-2:hover{
    transform: translateY(-10px);
}

.box-3{
    margin-top: 100px;
    margin-right: 80px;
    margin-left: 0;
    transition: transform 0.5s;
    text-align: center;
    color: white;
}

.box-3:hover{
    transform: translateY(-10px);
}

.box-4{
    margin-top: 100px;
    margin-right: 80px;
    margin-left: 10px;
    transition: transform 0.5s;
    text-align: center;
    color: white;
    
}

.box-4:hover{
    transform: translateY(-10px);
}

.about{
    color: white;
    background: radial-gradient(#485563,#29323c);
    margin-bottom: 200px;
    text-align: center;
    padding-bottom: 200px;
}

.about a{
    color: white;
}