@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-image: url(DB/TOP.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

li, a, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 100px;
    margin-bottom: 100px;
    margin-right: 50px;
}

nav{
    order: 1;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    transition: all 0.3s ease 0s;
    color: #11bee9;
}
.logo{
        
    margin-right: auto;

}

h1 {

    font-size: 120px;
    color: white;
    margin-left: 60px;
    opacity: 0.9;
    margin-bottom: 0;
}

#head,h2 {
    font-size: 60px;
    color: white;
    margin-left: 20px;
    opacity: 0.8;
}

h2{
    font-size: 40px;
}


center {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 150px;

}

#cen {
    color: white;
    font-size: 70px;
    opacity: 0.8;
}


.container-4 {
    display: flex;
    border: 1px solid rgb(212, 209, 209);
    padding: 25px 25px;
    justify-content: space-between;
    border-radius: 45px;
    border-width: 3px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;

}

.img-2 {
    margin-left: 40px;
    margin-top: 20px;

}

.par {
    font-size: 23px;
    color: white;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 50px;
}

h3 {
    font-size: 30px;
    color: rgb(22, 230, 22);
}

#hcolor{
    color: red;
}

#h2color{
    color: rgb(159, 60, 229);
}

.box-1 {
    display: flex;
    justify-content: center;
    padding: 60px 60px;
}

.box-1 img {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

.box-2 {
    border: 2px solid;
    border-radius: 50px;
    padding: 40px 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: "Poppins" sans-serif;
    transition: transform 0.6s;
}

.box-2:hover {
    transform: translateY(-10px);
}

.box-3 {
    border: 2px solid;
    color: white;
    border-radius: 50px;
    padding: 40px 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.6s;

}

.box-3:hover {
    transform: translateY(-10px);
}


.box-4 {
    border: 2px solid;
    color: white;
    border-radius: 50px;
    padding: 40px 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.6s;
}

.box-4:hover {
    transform: translateY(-10px);
}

.box-5 {
    border: 2px solid;
    color: white;
    border-radius: 50px;
    padding: 40px 40px;
    margin-top: 10px;
    margin-left: 20px;
    transition: transform 0.6s;
}

.box-5:hover {
    transform: translateY(-10px);
}

button{
color: white;
background: none;
border: 1px solid white;
border-radius: 40px;
margin-left: 10px;
width: 160px;
padding: 20px 20px;
font-size: 20px;
cursor: pointer;
}

button:hover{
color: black;
background: white;
}